.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    transition: background-color 1s;
}

.appDark {
    background-color: #21212b;
    color: #f7f5f5f4;
}

.appLight {
    background-color: white;
    color: #282c34;
}
